<div class="header">
  <h1>Get to Work</h1>
</div>

<% if Current.user%>
  <div class="content">
    <div class="row mb-5">
      <p class="mt-5 text-center">You are already Logged in. Please return to your <%= link_to "Application Dashboard", dashboard_path(Current.user.id)%></p>
    </div>
  </div>
<% else %>
  <div class="content">
    <%= form_with url: sign_in_path do |form| %>
      <div class="mb-3 w-50">
        <%= form.label :login, class:"fw-bold" %>
        <%= form.text_field :login, class: "form-control" %>
      </div>
      <div class="mb-3 w-50">
        <%= form.label :password, class:"fw-bold" %>
        <%= form.password_field :password, class: "form-control" %>
      </div>
      <div class="mb-3 w-50">
        <%= form.submit "Sign In", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
<% end %>
