<div class="d-flex align-items-center justify-content-center">
  <h1 class="mt-5">Get to Work</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label :login, class:"fw-bold" %>
    <%= form.text_field :login, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.label :password, class:"fw-bold" %>
    <%= form.password_field :password, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Sign In", class: "btn btn-success" %>
  </div>
  </div>
<% end %>