<div class="row">
  <h1>Dashboard Controller</h1>
  <h2  class="mt-2 text-center">Welcome: <%= Current.user.login%> </h2>
</div>

<div class="row mb-4">
  <div class="col-md-8">
    <h3>Active apps</h3>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4" data-controller="drag" data-drag-url="/dashboard/:id/sort">
        <% @user_active_apps.each do |application|%>
          <div data-id="<%= application.id %>" class="card">
            <div class="card-body">
              <div class="card-title">
                <h3 class="d-inline"><%= application.name%></h3>
                  <%= link_to delete_app_path(application.id) do %>
                    <span class="d-inline">&#10060;</span>
                  <% end %>
              </div>
              <p class="card-text"><%= application.description %></p>
            </div> <!-- End Card Body -->
            <div class="card-footer">
                <%= link_to "Launch", application.link, class: "btn btn-primary" %>
            </div> <!-- End Card Footer -->
          </div> <!-- End Card -->
        <% end %>
      </div>
  </div> <!--End Content Div -->

  <div class="col-md-4">
    <h3 class="text-center">Disabled Apps</h3>
      <% @disabled_applications.each do |disabled_app| %>
        <ul class="list-group">
          <%= link_to disabled_app.name, add_app_path(disabled_app.id), class: "list-group-item" %> 
        </ul>
      <%- end %>
    <p class="mt-4 text-muted">Click on the application that you want to add to your main dashboard</p>
  </div>
</div>


  
  


