<div class="header">
  <h1>Dashboard Controller</h1>

  <h2  class="mt-2 text-center">Welcome: <%= Current.user.login%> </h2>
</div>

 <div class="sidebar">
    <h3>Disabled Apps</h3>
      <% @disabled_appications.each do |disabled_app| %>
        <ul class="list-group">
          <%= link_to disabled_app.name, add_app_path(disabled_app.id), class: "list-group-item" %> 
        </ul>
      <%- end %>
    <p class="mt-4 text-muted">Click on the application that you want to add to your main dashboard</p>
</div>

<div class="content">
  <div class="card-grid">
    <% @user_active_apps.each do |application|%>
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h3><%= application.name%></h3><span class="align-right">&#10060;</span>
          </div>
          <p class="card-text"><%= application.description %></p>
        </div>
        <div class="card-footer">
            <%= link_to "Launch", application.link, class: "btn btn-primary" %>
        </div>
      </div>
        <% end %>
    </div>
  </div>
  


